:local(.directory) > div {
    display: grid;
    grid-template-rows: repeat(4, auto) 1fr;

    > :local(.input) {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 0.5em;
    }

    > p:last-child {
        align-self: end;
        font-size: 1.5em;
    }
}
