:local(.file) {
    padding: 0.3em 0.5em;
    margin: 0.5em;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #444444;
    border-radius: 4px;
    box-shadow: 1px 1px 0 rgba(#444444, 0.5);

    &:local(.selected) {
        pointer-events: none;
        cursor: unset;
        font-weight: bold;
    }

    &:local(:hover) {
        background: #eeeeee;
    }
}
