:local(.folder) {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    column-gap: 0.5em;

    > :local(.icon) {
        width: 1em;
        overflow: hidden;

        &:local(.selected) {
            fill: #ff0000;
        }
    }
}
