.folder {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    column-gap: 0.5em;

    > .icon {
        width: 1em;
        overflow: hidden;

        &.selected {
            fill: #ff0000;
        }
    }
}
