.group {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 0.5em;
    overflow: hidden;

    > .files {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;

        > .list {
            overflow: auto;
            white-space: nowrap;
        }

        > .preview {
            margin: 0 0.5em;
            overflow: hidden;

            > audio,
            > video,
            > img {
                width: 100%;
                max-height: 100%;
                overflow: hidden;
                outline: none;
            }

            > img,
            > video {
                object-fit: contain;
                object-position: top left;
            }
        }
    }
}
