.fo-root {
    position: relative;
    height: 100%;
    overflow: hidden;

    > :global(.fo-step) {
        height: 100%;
        overflow: hidden;
    }

    &.busy {
        pointer-events: none;
        opacity: 0.5;
    }
}
