.root {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    overflow: hidden;

    > :global(.fo-step) {
        display: grid;
        grid-template-rows: auto 1fr;
        height: calc(100% - 1em);
        padding: 0.5em;
        overflow: hidden;

        > :first-child {
            white-space: nowrap;
        }

        > :last-child {
            width: 100%;
            overflow: auto;
        }
    }

    &.busy {
        pointer-events: none;
        opacity: 0.5;
    }

    > .actions {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        border-top: 1px solid #888888;

        > button {
            padding: 0.2em 0.5em;
            border-radius: 0.5em;
            box-shadow: 1px 1px 0 rgba(#444444, 0.5);

            &.hidden,
            &.disabled {
                pointer-events: none;
            }

            &.disabled {
                opacity: 0.2;
            }

            &.hidden {
                opacity: 0;
            }
        }
    }
}
